body {
    padding-top: 0px;
    color: #21272c;
    background-color: #E8E8E8;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-weight: 900;
}

a {
    color: #21272c;
}
a:hover {
    color: #21272c;
}

.app {
    background-color: #E8E8E8;
    font-family: 'Lato', sans-serif;

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
